/* Someone please do the Css Work 
  This shit tests my patience and I am not doing it for good reasons (I might break the computer)
*/

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #e0b0b0; */
    background-color: #fff;
}

.app-container {
    background-color: rgb(172, 95, 254);
    align-items: center;
    display: flex;
}
 
 .photo-container{
    /* background-color: rgb(175, 58, 58); */
    background-color: #f3eeee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    top: 0;
    right: 0;
    width: 30%;
    position:absolute;
    height: 500px;

    overflow-y: hidden;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
  
} 
.prompt-output{
    flex: 3;
    top:0;
    left: 0;
    background-color: #f3eeee;
    /* left: 50%; */
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    /* background-color: chartreuse; */
    border-radius: 5px;
    width: 67%;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
}

.prompt-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #252d2a;
    /* background-color: white; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    /* border-radius: 3px; */

  }
  
  .form-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  


  .form-voice-recorder {
    margin-left: 130px;
  }
  
  .form-submit-btn {
    padding: 10px;
    background-color: #35b839;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-left: 30px;
  }
