/* Someone please do the Css Work 
  This shit tests my patience and I am not doing it for good reasons (I might break the computer)
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #201f1f;
}

.app-container {
    background-color: rgb(172, 95, 254);
    align-items: center;
    display: flex;
}

.photo-container{
    flex: 1;
    background-color: rgb(175, 58, 58);
    /* height: 600px; */
    position:absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 720px;
    /* margin-bottom: 100px; */
}
.prompt-output{
    flex: 1;
    top:0;
    left: 0;
    /* left: 50%; */
    position: absolute;

    background-color: chartreuse;
    width: 50%;
    height: 720px;
}

.prompt-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #202725;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .form-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  


  .form-voice-recorder {
    margin-left: 130px;
  }
  
  .form-submit-btn {
    padding: 10px;
    background-color: #35b839;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-left: 30px;
  }
