/* Someone please do the Css Work 
  This shit tests my patience and I am not doing it for good reasons (I might break the computer)
*/

body {
    font-family: 'Roboto', sans-serif;
}

.app-container {
    background-color: rgb(172, 95, 254);
}

.prompt-output {
    background-color: rgb(226, 246, 44);
}

.photo-container {
    background-color: rgb(247, 111, 81);
}

.prompt-form {
    background-color: #3df6bb;
}
